main{
    width: 940px;
}
form{
    margin: 40px 0;
}

form label, form input{
   
    display: blocks;
    font-size: 20px;
    margin: 0px 0px 10px;
}
.enviar:hover{
    background-color: palevioletred;
    transform:rotate (180);
}
.body{
    background-color: plum;
}