header{
    color: white;
    font-family: sans-serif;
    
    text-align: center;
    margin-top: -20px;
    font-size: 20px;

}
footer{
    background-color:black;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;

}
article{
    
    margin-top: -20px;
    font-size: 20px;
}
body{
    background-image:url(nepal-g0108dd4b9_1920.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: sans-serif;
}
.img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-right: 100px;
}